@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --data-value: 0%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  color: #fff;
  padding: 1rem;
  min-height: 100vh;
  background: #000;
  overflow-x: hidden;
}

input {
  color: inherit;
}

.button {
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .5s all ease;
}

.button:hover {
  background: #fff;
  color: #333;
}

a {
  color: inherit;
  text-decoration: none;
}

.danger {
  background: #ef4444 !important;
}

.warning {
  background: #FFF27A !important;
}

.success {
  background: #22c55e !important;
}

::-webkit-scrollbar {
  height: 3px;
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent; 
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #f4f4f4; 
}

/* Container */
.container {
  position: relative;
  display: grid;
  grid-template: auto 5fr 75px / min(250px, 1fr) 5fr;
  grid-template-areas: 
  'aside header header'
  'aside main main'
  'aside footer footer';
  background: #242529;
  border-radius: 25px;
  min-height: 100%;
}

header {
  display: grid;
  grid-template: 1fr auto / 1fr 3fr auto;
  align-items: center;
  grid-area: header;
  gap: 1rem;
}

header .section-text {
  display: flex;
  gap: 1rem;
}

header .section-text .sidebar-toggler {
  display: none;
}

header nav {
  grid-column: span 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

header nav > * {
  height: 50px;
}

.option-panel-wrapper {
  grid-column: span 2;
  border-radius: 25px;
  z-index: 2;
  overflow: hidden;
}

header .option-panel {
  display: flex;
  gap: .5rem;
  font-size: .75rem;
  grid-column: span 2;
  padding: 7.5px 5px;
  border-radius: 25px;
  background: #555;
  overflow-x: auto;
}

header .option-panel > div {
  flex-basis: auto;
  min-width: 200px;
  background: #fafafa;
  color: #333;
  padding: 5px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: .5rem;
  transition: .5s all ease;
}

header .option-panel > div:hover {
  background: #ccc;
  cursor: pointer;
}

header .option-panel .option-pict {
  width: 20px;
  height: 20px;
}

header .option-panel .option-pict img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 50%;
  overflow: hidden;
}

header .option-panel .option-text {
  flex: 1;
}

header .details {
  display: flex;
  align-items: center;
  justify-content: center;
}

header .details .button {
  padding: 10px;
  border-radius: 20px;
}

nav .search-box {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: flex-end;
  transition: .5s all ease;
}

.search-box label {
  cursor: pointer;
  opacity: .8;
  transition: .5s all ease;
}

.search-box label:hover {
  opacity: 1;
}

.search-box .input-wrapper {
  position: relative;
  justify-self: flex-end;
  width: 0;
  opacity: 0;
  transition: .5s all ease;
}

nav .search-box.open .input-wrapper {
  opacity: 1;
  width: 100%;
}

.search-box .input-wrapper::before {
  position: absolute;
  content: '';
  bottom: -5px;
  width: 100%;
  height: 1px;
  background-color: #ccc;
  transform-origin: left;
  transform: scaleX(0);
  transition: .25s all .25s ease;
}

.search-box.open .input-wrapper::before {
  transform: scaleX(1);
}

.search-box input {
  background: inherit;
  border: none;
  outline: none;
  opacity: 0;
  visibility: hidden;
  transition: .25s all ease;
}

.search-box.open input {
  opacity: 1;
  visibility: visible;
}

header .notifications:hover {
  color: #FFD700;
  background: transparent;
  transform: scale(1.05);
  outline: 1px solid #FFD700;
}

.notifications i { 
  position: relative;
}

.notifications:hover .notifications-number {
  background: #FFD700;
}

.notifications .notifications-number {
  position: absolute;
  top: -50%;
  right: -50%;
  font-size: .5rem;
  width: .75rem;
  height: .75rem;
  background: #fff;
  color: #333;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .5s all ease;
}

aside {
  position: relative;
  display: grid;
  grid-template-rows: calc(200px - 2rem) 1fr;
  grid-area: aside;
  border-right: 1px solid #4E4F4F;
  gap: 1rem;
}

aside .close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  border: none;
  display: none;
}

aside .profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

aside .profile .photo {
  overflow: hidden;
  width: 100px;
  flex-basis: 100px;
  border: 1px solid #ccc;
  border-radius: 50%;
}

aside .profile .photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

aside .profile .username {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

aside .profile .username .edit-profile {
  position: absolute;
  right: 0;
  top: 0;
  visibility: hidden;
  cursor: pointer;
}

aside .profile .username:hover .edit-profile {
  visibility: visible;
}

aside nav {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 2rem;
  position: sticky;
  top: 1rem;
  align-self: start;
  height: calc(100vh - 2rem);
}

aside nav ul {
  --_background-pos: 0px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  justify-content: center;
}

aside nav ul.top::before {
  position: absolute;
  content: '';
  top: var(--_background-pos, 0px);
  left: 0;
  width: calc(100% - 2rem);
  height: calc(100% / 6 - 1.65rem);
  display: flex;
  background: #555;
  border-radius: 5px;
  padding: 10px 1rem;
  transition: .5s all ease;
}

aside nav ul > li {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 10px 1rem;
  gap: 1rem;
  cursor: pointer;
  font-style: normal;
  transition: .3s all ease-in-out;
  z-index: 2;
  border: 1px solid transparent;
}

aside nav ul > li:hover {
  border: 1px solid #555;
}

aside nav ul > li .nav-text {
  flex: 1;
}

aside nav ul > li .notifications {
  font-weight: bold;
  font-size: .75rem;
  background: #22c55e;
  color: #333;
  padding: .25rem .5rem;
  border-radius: 10px;
}

aside nav ul.bottom {
  align-self: start;
}

aside nav .close-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  align-self: flex-end;
  margin: 1rem;
  display: none;
}

main {
  padding: 1rem 2rem !important;
  grid-area: main;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1rem;
}

main .main-section {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  gap: 1rem;
}

main .main-section > div {
  display: grid;
  border-radius: 20px;
}

main .main-section > .box-1 {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

main .main-section > .box-1 > div {
  display: grid;
  position: relative;
  border-radius: 25px;
  z-index: 1;
}

main .main-section > .box-1 .content-wrapper {
  display: grid;
  grid-template: auto 1fr auto / 1fr 28px;
  background: #555;
  padding: 1rem;
  border-radius: 25px;
  transition: .5s all ease;
  z-index: 2;
}

main .main-section > .box-1 > div::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  border-radius: inherit;
  z-index: -1;
}

main .main-section > .box-1 .content-wrapper:hover {
  transform: translateY(-7.5px);
}

main .main-section > .box-1 .adding-content .content-wrapper {
  display: grid;
  grid-template: auto / auto;
  justify-content: center;
  align-items: center;
  border: 2px dashed #ccc;
  cursor: pointer;
  background: transparent;
}

main .main-section > .box-1 .adding-content .content-wrapper:hover {
  transform: none;
  background: #555;
}

main .main-section > .box-1 .adding-content::before {
  display: none;
}

main .main-section > .box-1 > div .more {
  position: relative;
  padding: 5px;
  border-radius: 50%;
}

main .main-section > .box-1 > div .more:hover .more-options {
  color: #fff;
}

main .main-section > .box-1 .more-options {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: #333;
  padding: 1rem;
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  align-items: start;
  justify-content: center;
  transition: .5s all ease;
}

main .main-section > .box-1 .more-options > * {
  flex: 1;
  padding: .5rem;
  width: 100%;
}

main .main-section > .box-1 .more-options > *:hover {
  background: #555;
}

main .main-section > .box-1 .more-options.show {
  opacity: .9;
  visibility: visible;
}

main .main-section > .box-1 .content-time {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: end;
  grid-area: 3 / span 2;
  font-size: 12px;
  gap: .5rem;
}

main .main-section > .box-2 {
  background: #34373C;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
  grid-auto-flow: dense;
  padding: 1rem;
  gap: 2rem 1rem;
  justify-content: center;
}

main .main-section > .box-2 > section.diagram-bar-wrapper {
  grid-row-start: 2;
  grid-column: span 2;
  padding: 1rem;
  background: #555;
}

main .main-section > .box-2 .diagram-circle-wrapper {
  background: #FFD700;
  color: #333;
  border-radius: 20px;
  padding: 1rem;
}

main .main-section > .box-2 .diagram-circle-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
}

main .main-section > .box-2 .circle-wrapper {
  align-self: center;
  position: relative;
  width: 250px;
  min-height: 250px;
}

main .main-section > .box-2 .outer-circle {
  flex: 1;
  background: conic-gradient(#333 80%, rgba(0,0,0,0.3) 0);
  width: 100%;
  min-height: 100%;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
}

main .main-section > .box-2 .outer-circle:hover,
main .main-section > .box-2 .outer-circle:hover ~ .middle-circle {
  border: 2px solid #fff;
}

main .main-section > .box-2 .outer-circle:hover,
main .main-section > .box-2 .middle-circle:hover,
main .main-section > .box-2 .inner-circle:hover {
  filter: brightness(1.15);
}

main .main-section > .box-2 .middle-circle:hover ~ .inner-circle,
main .main-section > .box-2 .middle-circle:hover {
  border: 2px solid #fff;
}

main .main-section > .box-2 .inner-circle:hover  {
  border: 2px solid #fff;
}

main .main-section > .box-2 .outer-circle::before,
main .main-section > .box-2 .outer-circle::after {
  position: absolute;
  content: '';
  width: 23px;
  height: 23px;
  background-color: #333;
  border-radius: 50%;
}

main .main-section > .box-2 .outer-circle::before {
  transform: rotate(calc(360deg*0.8)) translateY(-112.5px);
}

main .main-section > .box-2 .outer-circle::after {
  transform: rotate(0deg) translateY(-112.5px);
}

main .main-section > .box-2 .middle-circle {
  position: absolute;
  width: 80%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background: conic-gradient(from calc(360deg * 0.8), #f4f4f4 20%, #a3a3a3 0);
  border-radius: 50%;
  border: 1px solid #fff;
  cursor: pointer;
  z-index: 2;
}

main .main-section > .box-2 .middle-circle::before,
main .main-section > .box-2 .middle-circle::after {
  position: absolute;
  content: '';
  width: 25px;
  height: 25px;
  background-color: #f4f4f4;
  border-radius: 50%;
  z-index: 2;
}

main .main-section > .box-2 .middle-circle::before {
  transform: rotate(calc(360deg*0.8)) translateY(-87.5px);
}

main .main-section > .box-2 .middle-circle::after {
  transform: rotate(0deg) translateY(-87.5px);
}

main .main-section > .box-2 .inner-circle {
  position: absolute;
  width: 60%;
  height: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFD700;
  border-radius: 50%;
  font-size: 2rem;
  border: 1px solid #fff;
  cursor: pointer;
  z-index: 3;
}

main .main-section > .box-2 .circle-footer {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

main .main-section > .box-2 .circle-footer > div {
  display: flex;
  flex: 1;
  gap: 1rem;
}

main .main-section > .box-2 .circle-footer .explain {
  width: 25px;
  height: 25px;
  background: #333;
}

main .main-section > .box-2 .circle-footer div:last-child .explain {
  background: #f4f4f4;
}

main .main-section > .box-2 .diagram-bar-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 20px;
}

main .main-section > .box-2 .bar-chart {
  display: grid;
  grid-template-columns: auto minmax(400px, 1fr);
  grid-template-rows: minmax(400px, 2fr) auto;
  grid-template-areas: 
  'y-axis content content'
  'none x-axis x-axis';
  gap: 1rem;
  padding: 1rem;
}

main .main-section > .box-2 .y-axis {
  grid-area: y-axis;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
}

main .main-section > .box-2 .y-axis > * {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1rem;
}

main .main-section > .box-2 .y-axis > :nth-child(1) {
  grid-row: 1;
  transform: translateY(-50%);
}

main .main-section > .box-2 .y-axis > :nth-child(2) {
  grid-row: 2;
  transform: translateY(-30%);
}

main .main-section > .box-2 .y-axis > :nth-child(3) {
  grid-row: 3;
  transform: translateY(-10%);
}

main .main-section > .box-2 .y-axis > :nth-child(4) {
  grid-row: 4;
  transform: translateY(10%);
}

main .main-section > .box-2 .y-axis > :nth-child(5) {
  grid-row: 5;
  transform: translateY(30%);
}

main .main-section > .box-2 .y-axis > :nth-child(6) {
  grid-row: 6;
  transform: translateY(50%);
}

main .main-section > .box-2 .y-axis > *::before {
  content: '';
  position: absolute;
  width: clamp(200px, calc(775px - 5ch), 775px);
  height: 2px;
  background: #ccc;
  opacity: .2;
  top: 50%;
  left: 5ch;
  transform: translateY(-50%);
  z-index: -1;
}

main .main-section > .box-2 .x-axis {
  grid-area: x-axis;
  display: grid;
  grid-template: auto / repeat(4, auto);
  text-align: center;
  gap: 1rem;
}

main .main-section > .box-2 .content {
  grid-area: content;
  display: grid;
  grid-template: auto / repeat(4, auto);
  gap: 1rem;
  z-index: 1;
}

main .main-section > .box-2 .content > * {
  display: flex;
  justify-self: center;
  align-self: end;
  width: 50%;
  height: 80%;
  background: #f4f4f4;
  border-radius: 10px;
  transition: .5s all ease;
  cursor: pointer;
  position: relative;
}

main .main-section > .box-2 .content > *:hover {
  background: #FFD700;
}

main .main-section > .box-2 .content > *::after {
  position: absolute;
  content: var(--_data-value, --data-value);
  padding: 1rem;
  border-radius: 20px;
  top: -2rem;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #333;
  opacity: 0;
  visibility: hidden;
  color: #fff;
  font-size: 12px;
}

main .main-section > .box-2 .table-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid #555;
  padding: 1rem;
  border-radius: 10px;
}

main .main-section > .box-2 .table-wrapper .table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

table {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

table, th, td {
  border-bottom: 1px solid #ccc;
  border-collapse: collapse;
  text-align: right;
  padding: 10px;
}

table caption {
  padding: 1rem;
}

table td:first-child,
table th:first-child {
  text-align: left;
}

main .main-section > .box-2 .content > *:hover::after {
  opacity: .5;
  visibility: visible;
}

main .main-section > .box-3 {
  background: #f4f4f4;
  display: flex;
  flex-direction: column;
  color: #333;
  padding: 1rem;
  gap: 1rem;
}

main .main-section > .box-3 .options-bar {
  display: flex;
  width: 100%;
  padding: 1rem;
  justify-content: space-between;
}

main .main-section > .box-3 .options-bar > * {
  position: relative;
  cursor: pointer;
}

main .main-section > .box-3 .options-bar .sort {
  position: relative;
}

main .main-section > .box-3 .options-bar .sort > * {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

main .main-section > .box-3 .options-bar .sort.ascend > *:first-child {
  opacity: 1;
  visibility: visible;
}

main .main-section > .box-3 .options-bar .sort.descend > *:last-child {
  opacity: 1;
  visibility: visible;
}

main .main-section > .box-3 .options-bar .filter-list-container {
  position: absolute;
  top: 1rem;
  right: 100%;
  padding: 1rem;
  background: #555;
  color: #fff;
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
  transition: .5s all ease;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 2;
}

main .main-section > .box-3 .options-bar .filter.show .filter-list-container {
  opacity: .75;
  visibility: visible;
}

main .main-section > .box-3 .content-wrapper {
  display: grid;
  grid-auto-rows: auto;
  gap: 1rem;
}

main .main-section > .box-3 .content-wrapper > div {
  grid-column: 1 / 5;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 0;
  align-items: start;
  transition: .5s all ease;
}

main .main-section > .box-3 .content-wrapper > div.open {
  grid-template-rows: auto auto;
}

main .main-section > .box-3 .content-wrapper > div:not(.content-header) {
  position: relative;
  border-radius: 20px;
  transition: .5s all ease;
}

main .main-section > .box-3 .content-wrapper > div:not(.content-header).open {
  background: #f4f4f4;
  color: #333;
  border: 1px solid #ccc;
}

main .main-section > .box-3 .content-wrapper > div.open .content-highlight {
  /* border: none !important; */
  background: #f1f1f1;
}

main .main-section > .box-3 .content-wrapper .content-highlight {
  display: grid;
  grid-column: 1 / 5;
  grid-template-columns: repeat(4, 1fr);
  border-radius: 20px;
  padding: 2px 1rem;
  border: 1px solid #ccc;
  cursor: pointer;
}

main .main-section > .box-3 .content-highlight .status {
  display: flex;
  align-items: center;
  gap: 10px;
}

main .main-section > .box-3 .content-highlight .status-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #555;
}

.status-icon.online {
  background-color: #22c55e !important;
}

.status-icon.offline {
  background-color: #ccc !important;
}

main .main-section > .box-3 .content-wrapper .content-body {
  display: grid;
  grid-column: 1 / 5;
  grid-template-columns: min-content 1fr min-content;
  justify-content: space-between;
  opacity: 0;
  visibility: hidden;
  transform-origin: top;
  transform: scaleY(0);
  height: 0%;
  transition: .5s all ease;
}

main .main-section > .box-3 .content-wrapper div.open .content-body {
  opacity: 1;
  visibility: visible;
  transform: scaleY(1);
  height: 100%;
}

main .main-section > .box-3 .char-details {
  border-top: none;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  margin: 1rem;
  gap: .5rem 3rem;
}

main .main-section > .box-3 .char-level {
  text-align: right;
  white-space: nowrap;
}

main .main-section > .box-3 .char-class {
  border-top: 1px solid #ccc;
  grid-column: span 2;
}

main .main-section > .box-3 .char-pict {
  justify-self: end;
  padding-right: 2rem;
  width: 250px;
  height: 280px;
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  align-self: center;
  display: grid;
  grid-template: 1fr auto / 1fr min-content;
}

main .main-section > .box-3 .char-pict img {
  grid-row: span 2;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  border-bottom-right-radius: 0;
  border: 1px solid #333;
}

main .main-section > .box-3 .char-pict .char-title {
  grid-area: 2 / 3 / 3 / 4;
  writing-mode: vertical-rl;
  background: #333;
  padding: .5rem 0;
  color: #fff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

main .main-section > .box-3 .char-stats {
  grid-row: 2 / 3;
  background: #333;
  color: #fff;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .main-section > .box-3 .char-stats .stats-header {
  align-self: flex-start;
}

main .main-section > .box-3 .char-stats .stats-wrapper {
  display: flex;
  flex: auto;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

main .main-section > .box-3 .char-options {
  grid-area: 1 / 3 / 2 / 4;
  display: flex;
  justify-self: end;
  gap: 1rem;
  margin: 1rem;
  padding: .5rem;
  align-items: center;
  height: min-content;
  background: #555;
  border-radius: 15px;
}

main .main-section > .box-3 .char-options > * {
  background: #f4f4f4;
  padding: 5px 5px;
  border-radius: 10px;
  cursor: pointer;
  font-size: .8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
}

main .main-section > .box-3 .char-other {
  grid-area: 2 / 3 / 3 / 4;
  background: #333;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  margin: 1rem;
  opacity: .75;
}

main .main-section > .box-3 .char-other > * {
  background: #f4f4f4;
  border-radius: 20px;
  width: 100%;
  flex-basis: 10%;
}

main .main-section > .box-3 .pages {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .main-section > .box-3 .pages .before,
main .main-section > .box-3 .pages .after {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  background: #f4f4f4;
  padding: .5rem;
}

main .main-section > .box-3 .pages .before:hover,
main .main-section > .box-3 .pages .after:hover {
  opacity: .8;
}

main .main-section > .box-3 .pages .page-number {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .5rem;
  background: #f4f4f4;
}

main .main-section > .box-3 .pages .page-number > * {
  padding: .5rem 1rem;
  cursor: pointer;
  position: relative;
  border: 1px solid transparent;
}

main .main-section > .box-3 .pages .page-number > *:hover {
  background: #333;
  color: #fff;
  border: 1px solid #ccc;
}

main .main-section > .box-3 .pages .page-number > *.active {
  border-bottom: 2px solid #333;
}

main .side-section {
  gap: 1rem;
  display: grid;
  grid-template-rows: auto auto auto auto;
}

main .side-section > div {
  display: grid;
  background: #34373C;
  border-radius: 20px;
  padding: 1rem;
  gap: 1rem;
}

main .side-section > div .button {
  font-weight: bold;
}

main .side-section > div > h2 {
  border-bottom: 1px solid #ccc;
}

main .side-section .box-1 {
  grid-template-columns: auto;
}

main .side-section .box-1 .side-section-contents {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 1rem;
}

main .side-section .box-1 .side-content-wrapper {
  display: grid;
  grid-template: auto auto auto / auto;
  gap: .5rem;
  background: #f4f4f4;
  color: #333;
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: .5s all ease-in-out;
}

main .side-section .box-1 .side-content-wrapper:hover {
  opacity: .7;
}

main .side-section .box-1 .side-content-text {
  background: #22c55e;
  color: #fff;
  border-radius: 10px;
}

main .side-section .box-2 .side-content-wrapper {
  display: grid;
  grid-auto-rows: auto;
  background: #f4f4f4;
  padding: 1rem;
  color: #333;
  border-radius: 10px;
  gap: 1rem;
}

main .side-section .box-2 .photo {
  width: 100%;
  height: 100%;
}

main .side-section .box-2 .photo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  overflow: hidden;
}

main .side-section .box-2 .button:hover {
  border: 1px solid #333;
}

main .side-section .box-3 {
  grid-auto-rows: auto;
}

footer {
  grid-area: footer;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.container > * {
  padding: 1rem;
}

@media (max-width: 1300px) {
  main .main-section > .box-2 {
    grid-template-columns: minmax(250px, 1fr);
    gap: 1rem !important;
  }

  main .main-section > .box-2 > section.diagram-bar-wrapper {
    grid-column: span 1;
    grid-row: 3;
  }
}

@media (max-width: 1200px) {
  main .main-section > .box-2 .bar-chart {
    display: grid;
    grid-template-columns: min-content minmax(50px, 1fr);
    grid-template-rows: minmax(400px, 2fr) auto;
    grid-template-areas: 
    'y-axis content content'
    'none x-axis x-axis';
    gap: 1rem;
    padding: 1rem;
  }

  main .main-section > .box-3 .pages .page-number > *:not(.active) {
    display: none;
  }

  table, th, td {
    padding: 10px 5px;
  }
}

@media (max-width: 900px) {
  .sidebar-toggler {
    display: block !important;
    cursor: pointer;
  }

  aside {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    left: -100%;
    height: 100%;
    transition: .3s all ease;
    transform-origin: left;
    transform: scaleX(0);
  }

  aside.open {
    transform: scaleX(1);
    left: initial;
    opacity: 1;
    visibility: visible;
    background: #242529;
    z-index: 4;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  aside .close {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }

  aside nav .close-2.show {
    display: flex !important;
  }
}